.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Pin{
  width: 100px;
  height: 50px;
}

.Pin--red {
  background-color: red;
}

.Pin--blue {
  background-color: blue;
}

.Pin--yellow {
  background-color: yellow;
}

.Pin--green {
  background-color: green;
}

.Pin--purple {
  background-color: purple;
}

.Pin--orange {
  background-color: orange;
}

.Pin--pink {
  background-color: pink;
}

.Pin--brown {   
  background-color: rgb(59, 42, 6);
}

.Hint{
  width: 50px;
  height: 25px;
}

.Hint--fits{
 background-color: black;
}

.Hint--partially{
  background-color: grey;
 }

 .Hint--partially{
  background-color: white;
 }




